*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(assets/banner-bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.tittle{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 2rem;
}
.logo{
    width: 5rem;
}
h1{
    font-size: 50px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    font-size: 20px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
.b1{
    background-color: #00ffad;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 3rem;
    width: 10rem;
    color: #192440;
    font-weight: bold;
}
.early{
    color: #ffffff;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.part1{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 10rem;
}
.smartest{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    text-align: center;
    width: 100%;
}
.c1{
    width: 25%;
}
h2{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h5{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
pat2{
    display: flex;
}
.take{
    display: flex;
}
.part2{
    position: relative;
}
.part2 svg{
    position: absolute;
    bottom: 0;
}

.take{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}
.take section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.safe{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    z-index: 1;
}
.safe section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
p{
    font-size: 20px;
    font-family: sans-serif;
}
.b2{
    background-color: #192440;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 3rem;
    width: 10rem;
    color: #ffffff;
    font-weight: bold;
}
.part3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
    gap: 3rem;
}
.plans{
    display: flex;
    gap: 5rem;
}
.plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    
}
.plan1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #192440;
    color: #ffffff;
    padding: 5rem;
}
.planprice{
    display: flex;
    justify-content: center;
    align-items: end;
}
.price{
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    position: relative;
    top: 20px;
}
h6{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
}
.content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 1rem;
}
.b3{
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 3rem;
    width: 10rem;
    color: #192440;
    font-weight: bold;
    border:double 2px;
}
.b4{
    background-color: #00ffad;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 3rem;
    width: 10rem;
    color: #192440;
    font-weight: bold;
    border:double 2px;
}
.part4{
    background-color: #bfbfbf;
    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
}
.contactUs{
    background-image: url(assets/contact-bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 8rem;
    width: 100%;
}
.contact{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}
.signUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;
    color: #00ffad;
    
}
.nameMail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
}
.name{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 5rem;
}
.mail{
    
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 50%;
    height: 5rem;
}
.message{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
input{
    width: 100%;
    background: transparent;
    border-color: #00ffad;
    border-radius: .5rem;
    height: 100%;
    color: #ffffff;
}
.b5{
    background-color: #00ffad;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    height: 6rem;
    width: 100%;
    color: #192440;
    margin-top: 1rem;
}
.social{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    background-color: #192440;
}
i{
    border-radius: 50%;
    background-color: #ffffff;
    font-size: 60px;
}
